# 02 - Data Cleaning and Exploration

In [55]:
import pandas as pd
import numpy as np
from datetime import datetime

In [56]:
df = pd.read_csv('../data/raw/madrid_weather_2010-2022.csv')
df

            time  tavg  tmin  tmax  prcp  snow  wdir  wspd  wpgt    pres  tsun
0     2010-01-01   5.3   3.5   7.5   0.1   NaN   NaN  27.2   NaN  1010.7   NaN
1     2010-01-02   5.4   2.5   7.4   0.0   NaN   NaN   7.0   NaN  1020.8   NaN
2     2010-01-03   5.7   4.1   7.3   6.7   NaN   NaN   2.7   NaN  1019.3   NaN
3     2010-01-04   7.5   6.3   9.1   9.5   NaN   NaN   8.1   NaN  1008.3   NaN
4     2010-01-05   8.5   6.1   9.7   0.0   NaN   NaN   3.8   NaN  1001.4   NaN
...          ...   ...   ...   ...   ...   ...   ...   ...   ...     ...   ...
4013  2020-12-27   2.3  -1.4   6.8   2.2   NaN   NaN  13.4   NaN  1014.5   NaN
4014  2020-12-28   5.9   2.8   8.4   0.1   NaN   NaN  28.8   NaN  1002.2   NaN
4015  2020-12-29   3.5   0.7   8.1   0.0   NaN   NaN  19.0   NaN  1006.1   NaN
4016  2020-12-30   3.7   1.1   8.3   0.0   NaN   NaN  15.1   NaN  1015.9   NaN
4017  2020-12-31   2.9  -1.3   6.8   1.0   NaN   NaN  14.9   NaN  1014.4   NaN

[4018 rows x 11 columns]

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4018 entries, 0 to 4017
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    4018 non-null   object
 1   tavg    4018 non-null   float64
 2   tmin    4018 non-null   float64
 3   tmax    4018 non-null   float64
 4   prcp    4016 non-null   float64
 5   snow    2 non-null      float64
 6   wdir    0 non-null      float64
 7   wspd    4015 non-null   float64
 8   wpgt    0 non-null      float64
 9   pres    3993 non-null   float64
 10  tsun    0 non-null      float64
dtypes: float64(10), object(1)
memory usage: 345.4+ KB

In [58]:
df.isna().sum()

time       0
tavg       0
tmin       0
tmax       0
prcp       2
snow    4016
wdir    4018
wspd       3
wpgt    4018
pres      25
tsun    4018
dtype: int64

In [59]:
df = df.dropna(axis = 1, how = 'all').fillna(0)
df

            time  tavg  tmin  tmax  prcp  snow  wspd    pres
0     2010-01-01   5.3   3.5   7.5   0.1   0.0  27.2  1010.7
1     2010-01-02   5.4   2.5   7.4   0.0   0.0   7.0  1020.8
2     2010-01-03   5.7   4.1   7.3   6.7   0.0   2.7  1019.3
3     2010-01-04   7.5   6.3   9.1   9.5   0.0   8.1  1008.3
4     2010-01-05   8.5   6.1   9.7   0.0   0.0   3.8  1001.4
...          ...   ...   ...   ...   ...   ...   ...     ...
4013  2020-12-27   2.3  -1.4   6.8   2.2   0.0  13.4  1014.5
4014  2020-12-28   5.9   2.8   8.4   0.1   0.0  28.8  1002.2
4015  2020-12-29   3.5   0.7   8.1   0.0   0.0  19.0  1006.1
4016  2020-12-30   3.7   1.1   8.3   0.0   0.0  15.1  1015.9
4017  2020-12-31   2.9  -1.3   6.8   1.0   0.0  14.9  1014.4

[4018 rows x 8 columns]

In [60]:
df = df.rename(columns = {'tavg' : 't average, C', 'tmin' : 't minimum, C', 'tmax' : 't maximum, C' , 
              'prcp' : 'precipitation, mm', 'wspd' : 'wind speed, km/h', 'pres': 'pressure, Pa'})
df

,time,"t average, C","t minimum, C","t maximum, C","precipitation, mm",snow,"wind speed, km/h","pressure, Pa"
0,2010-01-01,5.3,3.5,7.5,0.1,0.0,27.2,1010.7
1,2010-01-02,5.4,2.5,7.4,0.0,0.0,7.0,1020.8
2,2010-01-03,5.7,4.1,7.3,6.7,0.0,2.7,1019.3
3,2010-01-04,7.5,6.3,9.1,9.5,0.0,8.1,1008.3
4,2010-01-05,8.5,6.1,9.7,0.0,0.0,3.8,1001.4
...,...,...,...,...,...,...,...,...
4013,2020-12-27,2.3,-1.4,6.8,2.2,0.0,13.4,1014.5
4014,2020-12-28,5.9,2.8,8.4,0.1,0.0,28.8,1002.2
4015,2020-12-29,3.5,0.7,8.1,0.0,0.0,19.0,1006.1
4016,2020-12-30,3.7,1.1,8.3,0.0,0.0,15.1,1015.9
4017,2020-12-31,2.9,-1.3,6.8,1.0,0.0,14.9,1014.4

In [61]:
df = df.set_index('time')
df.index = pd.to_datetime(df.index)
df

,"t average, C","t minimum, C","t maximum, C","precipitation, mm",snow,"wind speed, km/h","pressure, Pa"
time,,,,,,,
2010-01-01,5.3,3.5,7.5,0.1,0.0,27.2,1010.7
2010-01-02,5.4,2.5,7.4,0.0,0.0,7.0,1020.8
2010-01-03,5.7,4.1,7.3,6.7,0.0,2.7,1019.3
2010-01-04,7.5,6.3,9.1,9.5,0.0,8.1,1008.3
2010-01-05,8.5,6.1,9.7,0.0,0.0,3.8,1001.4
...,...,...,...,...,...,...,...
2020-12-27,2.3,-1.4,6.8,2.2,0.0,13.4,1014.5
2020-12-28,5.9,2.8,8.4,0.1,0.0,28.8,1002.2
2020-12-29,3.5,0.7,8.1,0.0,0.0,19.0,1006.1
2020-12-30,3.7,1.1,8.3,0.0,0.0,15.1,1015.9
2020-12-31,2.9,-1.3,6.8,1.0,0.0,14.9,1014.4

In [62]:
df.to_csv('../data/clean/madrid_weather_clean.csv')

In [63]:
df['year'] = df.index.year
df['month'] = df.index.month
df['day_of_year'] = df.index.dayofyear
df['day_of_week'] = df.index.dayofweek
df

,"t average, C","t minimum, C","t maximum, C","precipitation, mm",snow,"wind speed, km/h","pressure, Pa",year,month,day_of_year,day_of_week
time,,,,,,,,,,,
2010-01-01,5.3,3.5,7.5,0.1,0.0,27.2,1010.7,2010,1,1,4
2010-01-02,5.4,2.5,7.4,0.0,0.0,7.0,1020.8,2010,1,2,5
2010-01-03,5.7,4.1,7.3,6.7,0.0,2.7,1019.3,2010,1,3,6
2010-01-04,7.5,6.3,9.1,9.5,0.0,8.1,1008.3,2010,1,4,0
2010-01-05,8.5,6.1,9.7,0.0,0.0,3.8,1001.4,2010,1,5,1
...,...,...,...,...,...,...,...,...,...,...,...
2020-12-27,2.3,-1.4,6.8,2.2,0.0,13.4,1014.5,2020,12,362,6
2020-12-28,5.9,2.8,8.4,0.1,0.0,28.8,1002.2,2020,12,363,0
2020-12-29,3.5,0.7,8.1,0.0,0.0,19.0,1006.1,2020,12,364,1
2020-12-30,3.7,1.1,8.3,0.0,0.0,15.1,1015.9,2020,12,365,2
2020-12-31,2.9,-1.3,6.8,1.0,0.0,14.9,1014.4,2020,12,366,3

In [64]:
df['range'] = df['t maximum, C'] - df['t minimum, C']
df

,"t average, C","t minimum, C","t maximum, C","precipitation, mm",snow,"wind speed, km/h","pressure, Pa",year,month,day_of_year,day_of_week,range
time,,,,,,,,,,,,
2010-01-01,5.3,3.5,7.5,0.1,0.0,27.2,1010.7,2010,1,1,4,4.0
2010-01-02,5.4,2.5,7.4,0.0,0.0,7.0,1020.8,2010,1,2,5,4.9
2010-01-03,5.7,4.1,7.3,6.7,0.0,2.7,1019.3,2010,1,3,6,3.2
2010-01-04,7.5,6.3,9.1,9.5,0.0,8.1,1008.3,2010,1,4,0,2.8
2010-01-05,8.5,6.1,9.7,0.0,0.0,3.8,1001.4,2010,1,5,1,3.6
...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-27,2.3,-1.4,6.8,2.2,0.0,13.4,1014.5,2020,12,362,6,8.2
2020-12-28,5.9,2.8,8.4,0.1,0.0,28.8,1002.2,2020,12,363,0,5.6
2020-12-29,3.5,0.7,8.1,0.0,0.0,19.0,1006.1,2020,12,364,1,7.4
2020-12-30,3.7,1.1,8.3,0.0,0.0,15.1,1015.9,2020,12,365,2,7.2
2020-12-31,2.9,-1.3,6.8,1.0,0.0,14.9,1014.4,2020,12,366,3,8.1

In [65]:
df['t_avg_7days'] = df['t average, C'].rolling(window = 7).mean()
df['t_avg_30days'] = df['t average, C'].rolling(window = 30).mean()
df

,"t average, C","t minimum, C","t maximum, C","precipitation, mm",snow,"wind speed, km/h","pressure, Pa",year,month,day_of_year,day_of_week,range,t_avg_7days,t_avg_30days
time,,,,,,,,,,,,,,
2010-01-01,5.3,3.5,7.5,0.1,0.0,27.2,1010.7,2010,1,1,4,4.0,NaN,NaN
2010-01-02,5.4,2.5,7.4,0.0,0.0,7.0,1020.8,2010,1,2,5,4.9,NaN,NaN
2010-01-03,5.7,4.1,7.3,6.7,0.0,2.7,1019.3,2010,1,3,6,3.2,NaN,NaN
2010-01-04,7.5,6.3,9.1,9.5,0.0,8.1,1008.3,2010,1,4,0,2.8,NaN,NaN
2010-01-05,8.5,6.1,9.7,0.0,0.0,3.8,1001.4,2010,1,5,1,3.6,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-27,2.3,-1.4,6.8,2.2,0.0,13.4,1014.5,2020,12,362,6,8.2,5.971429,7.386667
2020-12-28,5.9,2.8,8.4,0.1,0.0,28.8,1002.2,2020,12,363,0,5.6,5.714286,7.300000
2020-12-29,3.5,0.7,8.1,0.0,0.0,19.0,1006.1,2020,12,364,1,7.4,5.085714,7.156667
2020-12-30,3.7,1.1,8.3,0.0,0.0,15.1,1015.9,2020,12,365,2,7.2,4.571429,6.980000
2020-12-31,2.9,-1.3,6.8,1.0,0.0,14.9,1014.4,2020,12,366,3,8.1,3.771429,6.776667

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4018 entries, 2010-01-01 to 2020-12-31
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   t average, C       4018 non-null   float64
 1   t minimum, C       4018 non-null   float64
 2   t maximum, C       4018 non-null   float64
 3   precipitation, mm  4018 non-null   float64
 4   snow               4018 non-null   float64
 5   wind speed, km/h   4018 non-null   float64
 6   pressure, Pa       4018 non-null   float64
 7   year               4018 non-null   int32
 8   month              4018 non-null   int32
 9   day_of_year        4018 non-null   int32
 10  day_of_week        4018 non-null   int32
 11  range              4018 non-null   float64
 12  t_avg_7days        4012 non-null   float64
 13  t_avg_30days       3989 non-null   float64
dtypes: float64(10), int32(4)
memory usage: 408.1 KB

In [67]:
df.describe()

,"t average, C","t minimum, C","t maximum, C","precipitation, mm",snow,"wind speed, km/h","pressure, Pa",year,month,day_of_year,day_of_week,range,t_avg_7days,t_avg_30days
count,4018.000000,4018.000000,4018.000000,4018.000000,4018.000000,4018.000000,4018.000000,4018.000000,4018.000000,4018.000000,4018.000000,4018.000000,4012.000000,3989.000000
mean,16.361299,10.720732,20.829915,1.130463,0.000747,10.831956,1010.931035,2015.000747,6.522648,183.136635,3.000000,10.109184,16.378607,16.440093
std,8.141595,6.732820,9.095247,3.570342,0.035273,5.491886,80.325747,3.162868,3.449210,105.458353,2.000249,3.507266,7.858082,7.520179
min,-2.600000,-3.900000,0.000000,0.000000,0.000000,0.000000,0.000000,2010.000000,1.000000,1.000000,0.000000,1.200000,0.428571,5.183333
25%,9.300000,5.200000,12.900000,0.000000,0.000000,6.900000,1012.500000,2012.000000,4.000000,92.000000,1.000000,7.400000,9.342857,9.363333
50%,15.200000,10.000000,19.600000,0.000000,0.000000,9.500000,1016.300000,2015.000000,7.000000,183.000000,3.000000,10.300000,15.350000,15.536667
75%,23.300000,16.500000,28.875000,0.000000,0.000000,13.375000,1021.600000,2018.000000,10.000000,274.000000,5.000000,13.000000,23.475000,23.370000
max,34.500000,25.800000,40.600000,45.300000,2.000000,39.600000,1044.800000,2020.000000,12.000000,366.000000,6.000000,19.700000,32.942857,32.030000

In [68]:
df.to_csv('../data/clean/upd_madrid_weather_clean.csv')